.musicImages{
    display: flex;
    height: 50vh;
    width: 100vw;
    gap: 10%;
    padding-left: 5%;
    padding-top: 5%;
}
.hover1 :hover{
    display: flex;
    transform: scale(1.1); 
    cursor: pointer;
    display: 'flex';
    justifyContent: 'center';
    alignItems: 'center';
}
.top{
    text-align: center;
}
.music1:hover{
    cursor: pointer;
    transform: scale(1.1); 
    cursor: pointer; 
}

.music1{
    display: flex;
    height: 40%;
    width: 15%;
    padding-left: 5%;
  
}
.container1{
    padding-left: 5%;
}
.divcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;

    
}
#flexitem{
display: flex;
width: 100%;
}

.div3{
    display: grid;
    width: 100vw;
    grid-template-columns: 2fr 1fr;
}

.part1{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    text-align: center;
    width: 80%;
    height: 30%;
    gap: 0px;
    
}
.div3-2{
    height: 200vh;
    width: 40vw;
    background-color: pink;
    position: sticky;
}
.portion3{
    position: absolute;
    left: 5%;
   
}
.div1{
    display: flex;
    gap: 30%;
    width: 50%;
}
#div1{
    display: flex;
    flex-direction: column;
}
#div2{
    position: static;
    margin-left: 80%;
    display: flex;
    flex-direction: column;
}
.hoveritem{
    display: flex;
    padding-left: 40%;
}
.bottom{
    padding-left: 40%;
}
.scroller{
    padding-top: 50px;
    padding-left: 15%;
}

